<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Cadastro</title>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="icon" type="image/png" sizes="20x20"
	th:href="@{/images/logoQBeacon.png}" />
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/footer.css}" rel="stylesheet" />

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<div class="row col-sm-4"></div>
		<div class="row col-sm-4">
			<div class="card card-container" style="margin-top: 150px;">
				<h1>Cadastro</h1>
				<div class="form-group" align="center">
					<img id="profile-img" class="profile-img-card"
						src="/images/userCadastro.png" height="100" width="100" />
					<p id="profile-name" class="profile-name-card"></p>
				</div>
				<form class="form-signin" id="login_form" method="POST"
					th:object="${usuario}">
					<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}" />
					<div class="form-group">
						<label for="inputNome">Nome</label>
						<div class="input-group">
							<span class="input-group-addon"> <i
								class="glyphicon glyphicon-user"></i>
							</span> <input type="text" id="inputNome" class="form-control"
								placeholder="Nome" th:field="*{nome}" required="true"
								autofocus="true" />
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail">Email</label>
						<div class="input-group">
							<span class="input-group-addon"> <i
								class="glyphicon glyphicon-envelope"></i>
							</span> <input type="email" id="inputEmail" class="form-control"
								placeholder="Email" th:field="*{email}" required="true"
								autofocus="true" /> <span id="reauth-email"
								class="reauth-email"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword">Senha</label>
						<div class="input-group">
							<span class="input-group-addon"> <i
								class="glyphicon glyphicon-lock"></i>
							</span> <input type="password" id="inputPassword" class="form-control"
								placeholder="Senha" th:field="*{senha}" required="true" />
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-1"></div>
						<button class="btn btn-primary col-sm-5" type="submit">Cadastrar</button>
						<div class="col-sm-1"></div>
						<a class="btn btn-danger col-sm-4" th:href="@{/}">Voltar</a>
						<div class="col-sm-1"></div>
					</div>
				</form>
			</div>
		</div>
		<div class="row col-sm-4"></div>
	</div>
	<div th:include="fragments/footer :: footer"></div>

	<script th:src="@{/bootstrap/js/jquery.js}"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>