<!DOCTYPE html>

<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
	<head>
		<title th:text="${instituicao.nome}"></title>
		<meta name="_csrf" content="${_csrf.token}"/>
    	<!-- default header name is X-CSRF-TOKEN -->
    	<meta name="_csrf_header" content="${_csrf.headerName}"/>
	</head>
	<body>
		
		<h2>Detalhes da instituicao</h2>
		
		<table>
			<thead>
				<tr>
					<th>Lista de Campus desta Instituição</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="campus : ${instituicao.campus}">
					<td th:text="${campus.nome}"></td>
					<td>
						<a th:href="@{${'/instituicao/' + instituicao.id
									 + '/remover_campus/' + campus.id}}">Remover</a>
					</td>
				</tr>
			</tbody>
		</table><br/>
		<table>
			<thead>
				<tr>
					<th>Outros Campus</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="camp : ${outrosCampus}">
					<td th:text="${camp.nome}"></td>
					<td>
						<a th:href="@{${'/instituicao/' + instituicao.id
									 + '/adicionar_campus/' + camp.id}}">Adicionar</a>
					</td>
				</tr>
			</tbody>
		</table>
		
		<a th:href="@{/instituicao/cadastrar}">Cadastrar Instituição</a>
	</body>
</html>