<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>Principal</title>
		
		<link rel="icon" type="image/png" sizes="16x16" th:href="@{/imgs/beaconIco.png}" />
		
		<meta name="_csrf" content="${_csrf.token}"/>
    	<!-- default header name is X-CSRF-TOKEN -->
    	<meta name="_csrf_header" content="${_csrf.headerName}"/>
    	
    	<meta charset="utf-8"/>
    	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    	
    	<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	</head>
	<body>
		<h1 th:text="${#authentication.getPrincipal().getNome()}"></h1>
		
		<a th:href="@{/instituicao/listar_instituicoes}">VER INSTITUIÇÕES</a> <br/>
		<a th:href="@{/campus/listar_campus}">VER CAMPUS</a><br/>
		<a th:href="@{/bloco/listar_blocos}">VER BLOCOS</a><br/>
		<a th:href="@{/beacon/listar_beacons}">VER BEACONS</a><br/>
		<a th:href="@{/disciplina/listar_disciplinas}">VER DISCIPLINAS</a><br/>
		<a th:href="@{/sala/listar_salas}">VER SALAS</a><br/>
		<a th:href="@{/turma/listar_turmas}">VER TURMAS</a><br/>
		
		<a th:href="@{/usuario/logout}">LOGOUT</a>
		
		<script th:src="@{/bootstrap//js/jquery.js}"></script>
		<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	</body>
</html>