<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

<meta name="_csrf" content="${_csrf.token}" />
<!-- default header name is X-CSRF-TOKEN -->
<meta name="_csrf_header" content="${_csrf.headerName}" />

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" th:href="@{/imgs/beaconIco.png}" />

<!-- Bootstrap Core CSS -->
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />

<title>QBeacon - Dashboard</title>

</head>

<body class="fix-sidebar">
	<!-- Preloader -->
	<div class="preloader">
		<svg class="circular" viewBox="25 25 50 50">
      		<circle class="path" cx="50" cy="50" r="20" fill="none"
				stroke-width="2" stroke-miterlimit="10" />
    	</svg>
	</div>
	<div id="wrapper">
		<!-- Top Navigation -->
		<nav class="navbar navbar-default navbar-static-top m-b-0">
			<div class="navbar-header">
				<!-- Toggle icon for mobile view -->
				<a class="navbar-toggle hidden-sm hidden-md hidden-lg "
					href="javascript:void(0)" data-toggle="collapse"
					data-target=".navbar-collapse"><i class="ti-menu"></i></a>
				<!-- Logo -->
				<div class="top-left-part">
					<a class="logo" th:href="#"> <!-- Logo icon image, you can use font-icon also -->
						<b><i class="glyphicon glyphicon-qrcode"></i></b> <!-- Logo text image you can use text also -->
						<span class="hidden-xs">QBeacon</span>
					</a>
				</div>
				<!-- /Logo -->
				<!-- Search input and Toggle icon -->
				<ul class="nav navbar-top-links navbar-left hidden-xs">
				</ul>
				<!-- This is the message dropdown -->
				<ul class="nav navbar-top-links navbar-right pull-right">
					<!-- .user dropdown -->
					<a th:href="@{/usuario/logout}">Logout</a>
				</ul>
			</div>
		</nav>
		<div class="navbar-default sidebar" th:include="base/menu :: menu">
			
		</div>
		<!-- Left navbar-sidebar end -->
		<!-- Page Content -->
		<div id="page-wrapper">
			<div class="container-fluid" layout:fragment="conteudo">
				<div class="row bg-title">
					<!-- .page title -->
					<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
						<h4 class="page-title">Teste</h4>
					</div>
					<!-- /.page title -->
				</div>
				<!-- .row -->
				<div class="row">
					Só testando
					<div class="col-md-12">
						<div class="white-box">
							<h3 class="box-title">Blank Starter page</h3>
						</div>
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
			<footer class="footer text-center"> 2017 &copy; Desenvolvido
				por NPI </footer>
		</div>
		<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->
</body>

</html>