<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>

	<div class="navbar-default sidebar" role="navigation"
		th:fragment="menu">
		<div class="sidebar-nav navbar-collapse slimscrollsidebar">
			<ul class="nav" id="side-menu">
				<li class="sidebar-search hidden-sm hidden-md hidden-lg">
					<!-- Search input-group this is only view in mobile -->
					<div class="input-group custom-search-form">
						<input type="text" class="form-control" placeholder="Search..." />
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">
								<i class="fa fa-search"></i>
							</button>
						</span>
					</div> <!-- / Search input-group this is only view in mobile-->
				</li>
				<!-- User profile-->
				<li class="nav-small-cap m-t-10">- Opções</li>
				<li><a th:href="#" class="waves-effect"><span
						class="hide-menu">Adicionar Evento </span></a></li>
				<li><a th:href="#" class="waves-effect"> <span
						class="hide-menu">Meus Eventos </span></a></li>
				<li><a th:href="#" class="waves-effect"> <span
						class="hide-menu">Meu Dados </span></a></li>
			</ul>
		</div>
	</div>
	
</body>

</html>